:root {
  --height: 6rem;
  --margin: 2rem;
}

header,
footer {
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 47, 62);
  padding: 0 1.5rem;
}

footer {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  margin-top: auto;
}

input {
  width: 100%;
  height: 3.1rem;
  padding: .3rem .7rem;
  background-color: rgb(255, 255, 255);
  border: .1rem solid rgb(166, 166, 166);
  border-top-color: rgb(148, 148, 148);
  border-radius: .3rem;
  box-shadow: 0 .1rem 0 rgba(255, 255, 255, .5),
              0 .1rem 0 rgba(0, 0, 0, .07) inset;

  &:focus {
    border-color: #e77600;
    box-shadow: 0 0 .3rem .2rem rgba(228, 121, 17, .5);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.logo {
  height: 100%;
  width: 12rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.login {
  display: flex;
  align-items: center;
  height: 2.8rem;
  padding: 0 5rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 153, 0);
  border: .1rem solid transparent;
  border-radius: .8rem;
  transition: all .24s ease-in-out;

  &:hover,
  &:focus {
    background-color: rgb(249, 196, 117);
    color: rgb(39, 39, 39);
    transition: all .24s ease-in-out;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--margin) 0;
  min-height: calc(100vh - (var(--height) + var(--margin))*2);
  height: 100%;
  padding: 0 3rem;
}

.giveaway-info {
  width: 100%;
  text-align: center;
  margin-bottom: calc(var(--margin)*2);

  h1 {
    display: inline-flex;
    font-size: 3rem;
    line-height: 4.8rem;
    padding: 2rem 4rem;
    color: rgb(35, 47, 62);
    border: .5rem dashed rgb(255, 153, 0);
  }
}

.coupons {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
}

.coupon {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 .4rem 1rem -.3rem #dddddd;
  border: .1rem solid #dddddd;
}

.coupon__img {
  width: 100%;
  height: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.coupon__description {
  position: relative;
  font-size: 1.7rem;
  line-height: 2.7rem;
  padding: 1.5rem 2.5rem 3.1rem;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background-color: #dddddd;
  }
}

.coupon__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  padding: 2.2rem 2.5rem;
}

.coupon__price__value {
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 2.8rem;
}

.coupon__price__company {
  font-size: 1.5rem;
  margin-top: .5rem;
  color: rgb(15, 17, 17);
}

.coupon__signin {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: 700;
  color: rgb(35, 47, 62);
  background-color: rgb(255, 153, 0);
  padding: .4rem 1rem;
  cursor: pointer;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .3rem;
    background-color: rgb(35, 47, 62);
  }
  
  &:hover,
  &:focus {
    background-color: rgb(249, 196, 117);
    transition: background-color .12s linear;
    transition-delay: .18s;

    &::after {
      animation: signinAfter .3s forwards ease-in-out;
    }
  }
}

.login__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 35rem;
  width: 100%;
  margin: auto 0;

  label {
    font-weight: 700;
    padding-left: .2rem;
    margin-bottom: .2rem;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: rgb(18, 18, 18);
  }

  input {
    margin-bottom: .6rem;

    & + div {
      margin-bottom: 1.4rem;
    }
  }

  .coupon__signin {
    margin: 1rem 0 1.4rem;
  }
}

.login__home {
  margin-bottom: 1.8rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2.6rem;
  border-radius: .4rem;
  border: .1rem solid #dddddd;

  h2 {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 1.4rem;
  }

  .policy {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: .05rem;
    color: rgb(18, 18, 18);

    a {
      color: #0066c0;

      &:hover,
      &:focus {
        color: #c45500;
        text-decoration: underline;
      }
    }
  }
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3rem;
  margin: auto 0;

  h1 {
    font-size: 3rem;
    line-height: 4.8rem;
    color: rgb(35, 47, 62);
  }
}

.card__form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 40rem;
  height: 34rem;

  button {
    width: 100%;
    background-color: #f1f1f1;

    &:hover,
    &:focus {
      background-color: #e4e3e3;
    }
  }

  & > div {
    position: absolute;
    width: 100%;
    height: 26rem;
    border-radius: .8rem;
    border: .1rem solid #a6a6a6;
    padding: 2rem;

    &:first-of-type {
      z-index: 2;
      background-color: #f1f1f1;
      box-shadow: .1rem .1rem .7rem rgba(0, 0, 0, .1);
      top: 0rem;
      right: 5rem;
    }

    &:last-of-type {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      z-index: 1;
      top: 2rem;
      right: -5rem;
      background-color: #cfcfcf;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4rem;
        width: 100%;
        height: 5rem;
        background-color: #a6a6a6;
      }

      input {
        width: 7rem;
        margin-bottom: 4rem;
      }
    }

    input {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.card__front__bottom {
  display: flex;
  gap: 3rem;
}

.card__available-methods {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 8rem;

  img {
    width: 8rem;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
}

@keyframes signinAfter {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@media(max-width: 600px) {
  .card__form {
    height: 30rem;
    width: 30rem;
  
    & > div {
      height: 18rem;
      padding: 1.5rem;
  
      &:first-of-type {
        right: 0;
      }
  
      &:last-of-type {
        top: 5rem;
        right: -3rem;
  
        &::before {
          top: 3rem;
          height: 3rem;
        }

        & input {
          margin-bottom: 0rem;
        }
      }
  
      & input {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
  
  .card__available-methods {
    width: 100%;
    height: 4rem;
  
    img {
      width: 4rem;
      height: 100%;
    }
  }
}

@media(max-width: 425px) {
  .giveaway-info {  
    h1 {
      font-size: 2.4rem;
      line-height: 3.2rem;
      padding: 1rem;
    }
  }

  .payment {  
    h1 {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  .card__form {
    width: 26rem;
    height: 27rem;
  
    & > div {
      height: 16rem;

      input {
        height: 2.4rem;
      }

      &:last-of-type {
        bottom: 1rem;
        right: 0rem;
      }
    }
  }
}